@font-face {
  font-family: "NEXONLv1GothicLight";
  font-weight: lighter;
  src: url(".././fonts/NEXON Lv1 Gothic_OTF_TTF/TTF/NEXONLv1GothicLight.ttf")
    format("truetype");
}
.nav-link {
  font-family: NEXONLv1GothicLight;
}
